---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import SearchBar from "@components/Search";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import getSortedPosts from "@utils/getSortedContent";
import { getCollection } from "astro:content";

// Retrieve all published articles
const posts = await getCollection("blog", ({ data }) => !data.draft);
const sortedPosts = getSortedPosts(posts);

const notes = await getCollection("note", ({ data }) => !data.draft);
const sortedNotes = getSortedPosts(notes);

// Combine all articles and notes
const allContent = [...sortedPosts, ...sortedNotes];

// List of items to search in
const searchList = allContent.map(({ data, slug, collection }) => ({
  title: data.title,
  description: data.description,
  data,
  slug,
  collection,
}));
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle="Search" pageDesc="Search any article ...">
    <SearchBar client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
