---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
---

<Layout title={`Stream | ${SITE.title}`}>
  <Header />
  <script src="https://embed.twitch.tv/embed/v1.js"></script>
  <Main pageTitle="Stream" pageDesc="Learn more about me">
    <article
      id="article"
      class="prose prose-gray dark:prose-invert mx-auto max-w-3xl
        prose-headings:scroll-mt-20 prose-headings:font-semibold
        prose-a:text-skin-accent prose-a:decoration-dashed prose-a:underline-offset-4
        prose-img:rounded-lg prose-img:shadow-md
        prose-pre:border prose-pre:border-gray-200 dark:prose-pre:border-gray-800"
    >
      <div id="twitch-embed"></div>
    </article>
    <Footer />
    <script type="text/javascript">
      window.onload = () => {
        new Twitch.Embed("twitch-embed", {
          width: 854,
          height: 480,
          channel: "arananyazilimci",
          parent: ["cemkarakurt.com"],
        });
      };
    </script>
  </Main>
</Layout>
