---
export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
}

const { noPadding = false, ariaHidden = true } = Astro.props;
---

<div class={`site-container ${noPadding ? "px-0" : ""}`}>
  <hr class="border-skin-line" aria-hidden={ariaHidden} />
</div>
