---
import Card from "@components/Card";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"note">>;
}

const { page } = Astro.props;
---

<Layout title={`Notes | ${SITE.title}`}>
  <Header activeNav="note" />
  <Main
    pageTitle="Notes"
    pageDesc="A collection of code notes for web development."
  >
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-6">
      {
        page.data.map(({ data, id }) => (
          <li>
            <Card href={`/notes/${id}/`} frontmatter={data} collection="note" />
          </li>
        ))
      }
    </ul>
  </Main>

  <Pagination page={page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
