---
import Card from "@components/Card";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";
import getReadingTime from "@utils/getReadingTime";

export interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
---

<Layout title={`Blog | ${SITE.title}`}>
  <Header activeNav="blog" />
  <Main pageTitle="Blog" pageDesc="All the articles I've posted.">
    <ul class="grid grid-cols-1 md:grid-cols-1 gap-6">
      {
        page.data.map(entry => (
          <li>
            <Card
              href={`/blog/${entry.id}/`}
              frontmatter={entry.data}
              collection="blog"
              readingTime={getReadingTime(entry.body || "")}
            />
          </li>
        ))
      }
    </ul>
  </Main>

  <Pagination {page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
