---
import Card from "@components/Card";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Pagination from "@components/Pagination.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  page: Page<CollectionEntry<"snippet">>;
}

const { page } = Astro.props;
---

<Layout title={`Snippet | ${SITE.title}`}>
  <Header activeNav="snippet" />
  <Main
    pageTitle="Snippet"
    pageDesc="A collection of code snippets for web development."
  >
    <ul>
      {
        page.data.map(({ data, slug }) => (
          <Card href={`/snippets/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination page={page} />

  <Footer noMarginTop={page.lastPage > 1} />
</Layout>
